{% extends 'default.html' %}

{% load custom_tags %}

{% block title %}
All news
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
        <div class="col-lg-7">
            <form action="" method="post">
                {% csrf_token %}
                {% if is_author %}
                    {{ form.media }}
                    {{ form.as_p }}
                <input type="submit" value="Save" />
                {% else %}
                    <p>Вы не можете редактировать обьявление, так как не являетесь ее автором.</p>
                {% endif %}
            </form>
        </div>

{% endblock content %}


