{% extends 'default.html' %}

{% load custom_tags %}

{% block title %}
All news
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
        <div class="col-lg-7">
             <a class="text-white opacity-75-onHover" href="create/">Создать обьявление</a>
<!-- Выводим новости, только если они есть с помощью тега if -->
    {% if news_list %}
        {% for news in news_list %}
            <div class="card post-item bg-transparent border-0 mb-5">
                <a href="{{ news.id }}"><img class="card-img-top rounded-0" src="{ static 'images/post/post-lg/01.png' %}" alt=""></a>
                <div class="card-body px-0">
                    <h2 class="card-title">
                        <a class="text-white opacity-75-onHover" href="{{ news.id }}">{{ news.title }}</a>
                    </h2>
                    <ul class="post-meta mt-3">
                        <li class="d-inline-block mr-3">
                            <span class="fas fa-clock text-primary"></span>
                            <a class="ml-1" href="#">{{ news.date_time_in | date:'d M Y' }}</a>
                        </li>
                        <li class="d-inline-block">
                            <span class="fas fa-list-alt text-primary"></span>
                            <a class="ml-1" href="#">{{ news.category }}</a>
                        </li>
                        <li class="d-inline-block">
                            <span class="fas fa-list-alt text-primary"></span>
                            <a class="ml-1" href="#">{{ news.author }}</a>
                        </li>
                    </ul>
                    <p class="card-text my-4">{{  news.wysiwyn_text|safe }}</p>
                    <BR><a href="{{ news.id }}" class="btn btn-primary">Подробнее <img src="{ static 'images/arrow-right.png' static}" alt=""></a>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <!-- Если новостей нет, говорим, что новостей нет ;) -->
            <div class="card post-item bg-transparent border-0 mb-5">
                <h2>Новостей нет!</h2>
            </div>
        {% endif %}


{# Добавляем пагинацию на страницу #}
            <div class="card post-item bg-transparent border-0 mb-5">
                <div class="card-body px-0">
                     <ul class="post-meta mt-3">
                        <li class="d-inline-block mr-3">
                            <span class="fas text-primary"></span>

   {# Информация о предыдущих страницах #}
                        {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
                            <a class="ml-1" href="?{% url_replace page=1 %}">1</a>
                            {% if page_obj.previous_page_number != 1 %}
                            ...
                            <a class="ml-1" href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
                            {% endif %}
                        {% endif %}

                        {{ page_obj.number }}

                       {% if page_obj.has_next %}
                           <a class="ml-1" href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                           {% if paginator.num_pages != page_obj.next_page_number %}
                               ...
                               <a class="ml-1" href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
                           {% endif %}
                       {% endif %}
                         </li>
                    </ul>
                </div>
            </div>
        </div>


{% endblock content %}